<div class="dashboard-wrapper">
    <div class="dashboard-item">
        <a href="@Url.Action("Index", "Program")">
            <img src="@Url.Content("~/Images/Dashboard/program.png")" />
            <p><strong>Enrichment Programs</strong></p>
        </a>
    </div>
    <div class="dashboard-item">
        <a href="@Url.Action("MyNomination", "Nomination")">
            <img src="@Url.Content("~/Images/Dashboard/profile.png")" />
            <p><strong>Nominations</strong></p>
        </a>
    </div>
    <div class="clear-fix"></div>
</div>