<div class="dashboard-wrapper">
    <div class="dashboard-item">
        <a href="@Url.Action("Index", "Appointment")">
            <img src="@Url.Content("~/Images/Dashboard/advising.png")" />
            <p><strong>Advising Appointment</strong></p>
        </a>
    </div>
    <div class="dashboard-item">
        <a href="@Url.Action("MyStudent", "StudentProfile")">
            <img src="@Url.Content("~/Images/Dashboard/profile.png")" />
            <p><strong>Student Profile</strong></p>
        </a>
    </div>
    <div class="clear-fix"></div>
</div>