@{
    Layout = null;
}


		<ul class="sf-menu" id="menu">
			<li class="current">
				@Html.ActionLink("Dashboard", "Index", "Home")
			</li>
			<li>@Html.ActionLink("Advising Appointment", "ComingSoon", "Home")
			</li>
			<li>
				@Html.ActionLink("Student Profile", "Index", "StudentProfile")
			</li>	
		</ul>
