@{
    Layout = null;
}


		<ul class="sf-menu" id="menu">
			<li class="current">
				@Html.ActionLink("Dashboard", "Index", "Home")
			</li>
			<li>@Html.ActionLink("Advising Appointment", "Index", "Appointment")
                <ul>
                    <li>@Html.ActionLink("Create Timeslots", "CreateMultiple", "Appointment")</li>
                </ul>
			</li>
			<li>
				@Html.ActionLink("Student Profile", "MyStudent", "StudentProfile")
			</li>	
		</ul>
