@{
    Layout = null;
}


		<ul class="sf-menu" id="menu">
			<li class="current">
				@Html.ActionLink("Dashboard", "Index", "Home")
			</li>
			<li>
				@Html.ActionLink("Enrichment Programs", "ViewList", "Program")
			</li>
			<li>
				@Html.ActionLink("Nominations", "MyNomination", "Nomination")
			</li>
		</ul>
