@{
    Layout = null;
    IEnumerable<SchoolOfScience.Models.ProgramType> programTypes = ViewBag.programTypes;
}


<ul class="sf-menu" id="menu">
    <li>@Html.ActionLink("Login", "LogOff", "Account")</li>
</ul>
