@model SchoolOfScience.Models.ViewModels.AppointmentBookingViewModel

<div class="showcase-title">
    <img src="~/Images/Dashboard/advising.png" />
    <h2>Advising Appointments</h2>
</div>

<p>
   @*In this appointment system, you will be able to make appointment with your Pre‐major Faculty Advisor or Advising Staff.*@
</p>

<p>
    Before making an appointment, please kindly note the followings: 
</p>
<ol class="booking-notes">
    <li>Each appointment is 30 minutes</li>
    <li>Booking will be closed 24 hours prior to the appointment time</li>
    <li>You can only make ONE appointment with your Pre‐major Faculty Advisor/ Advising Staff each time</li>
    <li>In case of any cancellation, please cancel your booking AT LEAST 24 hours in advance</li>
</ol>

<p>
    <button id="booking-make">Make New Appointment</button>
</p>

@section Scripts {
    <script>
        $(function () {
            $("#booking-make").button();

            $("#booking-make").click(function (e) {
                e.preventDefault();
                showDialog("@Url.Action("Booking1")", "#error-dialog", "#appointment-booking-dialog", 400, 400);
            });
        });
    </script>
}
