@model SchoolOfScience.Models.ViewModels.AppointmentBookingViewModel

@{
    Layout = null;
}
<h2>
    Advising Appointment
</h2>

<p>
   I would like to make appointment with:
</p>
@using (Html.BeginForm("Booking2", "Appointment", FormMethod.Post, new { id = "form" }))
{
<p>
    @Html.DropDownListFor(model => model.host_id, new SelectList(Model.hostList, "id", "name"), String.Empty)
    @Html.ValidationMessageFor(model => model.host_id)
</p>   
}
<p>
    <button id="booking-next">Next</button>
</p>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("button#booking-next").button();

        $("button#booking-next").click(function (e) {
            e.preventDefault();
            if ($("#form").valid()) {
                $.ajax({
                    cache: false,
                    url: "@Url.Action("Booking2", "Appointment")",
                    type: "POST",
                    data: $("#form").serializeArray(),
                    error: function (jqXHR, status, error) {
                        $("#error-dialog").dialog({
                            width: 350,
                            height: 100,
                            overflow: "auto",
                            modal: true,
                            resizable: false,
                            draggable: false,
                            open: function () {
                                $(this).scrollTop(0);
                                $('.ui-widget-overlay').hide().fadeIn();
                            },
                            show: {
                                effect: 'fade',
                                duration: 200
                            },
                            hide: {
                                effect: 'fade',
                                duration: 100
                            }
                        }).html(error);
                    },
                    success: function (result) {
                        $("#dialog1").html(result);
                    }
                });
            } else {
                $(".input-validation-error").first().focus();
            }
        });
    });
</script>
